.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.avatar {
  border: none;
  background-color: #5994c9;
  overflow:hidden;
  font-size: 12px;
  padding: 2.5%;
  color:white;
  border-radius: 50%;
  margin-right: 10%;
  font-family: "aeonik", sans-serif;
  display:flex;
  justify-content: center;
}

.avatar:active {
    background-color: rgba(89, 148, 201, 0.3);
    transition: 0.2s;
}

.wrapper {
  border-radius: 5px;
  display: flex;
  padding: 5px;
  justify-content: right;
  width:25%;
  background-color: #E5E5E5;  /* used to be white */
  float:right;
}

.warning {
  background-color: orangered;
  border: none;
  overflow:hidden;
  padding: 2.5%;
  color:white;
  font-size: 12px;
  border-radius: 50%;
  margin-right: 10%;
  font-family: "aeonik", sans-serif;
}

.warning:active {
    background-color: rgba(255, 69, 0, 0.3);
    transition: 0.2s;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  color: #fff;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.1);
}